
@using Icon.Communication.Sid;

@model SidViewModel

@{
    ViewData["Title"] = "SID Search";
}

<div class="text-center">
    <h1 class="display-4">SID Query</h1>
</div>


<form method="post">
    <div class="form-group">
        <label for="ssn">SSN</label>
        <select class="form-control" id="ssn" name="ssn">
            <option></option>
            <option>555-10-1234</option>
            <option>555-11-1234</option>
            <option>555-12-1234</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />

@if (Model != null)
{
    <div class="row">
        <div class="col-sm-2">SSN</div>
        <div class="col-sm-10">@ViewData["ssn"]</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Response Guid</div>
        <div class="col-sm-10">@Model.RequestGuid</div>
    </div>
    <div class="row">
        <div class="col-sm-2">Latest Quarter</div>
        <div class="col-sm-10">@Model.LatestQuarterOnHub</div>
    </div>

    <br />

    <div>States with Wages</div>
    @foreach (var state in Model.StatesWithWages)
    {
        <div>@state</div>
    }
    <br />
    <div>States with Claims</div>
    @foreach (var state in Model.StatesWithClaims)
    {
        <div>@state</div>
    }
    <br />
    <div>States with Overpayments</div>
    @foreach (var state in Model.StatesWithOverpayments)
    {
        <div>@state</div>
    }
    <br />
}